.container-project {
    height: 85vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    padding: 10px;
    margin-top: 1rem;
}

.container-project-description {
    padding: 0px 10px;
}

.container-project-slider {
    min-width: 100%;
    min-height: 100%;
}

.swiper {
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiperMain{
    height: 70%;
    margin-bottom: 25px;
}

/* Due to change depending on images I get? */
.swiperMain .swiper-slide img {
    object-fit: cover;
}

.swiperThumbs{
    height: 20%;
}

.swiperThumbs .swiper-slide {
    box-sizing: border-box;
}

.swiperThumbs .swiper-slide-thumb-active {
    border: 3px solid white;
}

/* Due to change depending on images I get? */
.swiperThumbs .swiper-slide img {
    object-fit: cover;
}

.swiperThumbs-scrollbar {
    margin: 3vh auto;
    width: 90%;
    height: 5px;
    --swiper-scrollbar-drag-bg-color: white;
}

.swiperThumbs-navigation {
    display: flex;
    justify-content: space-between;
}

.swiper-button-prev {
    position: relative !important;
    height: auto !important;
    margin-top: initial !important;
    --swiper-navigation-size: 25px;
    --swiper-theme-color: white;
}

.swiper-button-next {
    position: relative !important;
    height: auto !important;
    margin-top: initial !important;
    --swiper-navigation-size: 25px;
    --swiper-theme-color: white;
}