.container-project {
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 1rem;
}

.container-project-description {
    font-size: 50px;

}

.container-project-slider {
    min-width: 100%;
    min-height: 100%;
}