.container-project {
    height: 75vh;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    margin-top: 1rem;
}

.container-project-description {
    font-size: 50px;

}

.container-project-slider {
    min-width: 100%;
    min-height: 100%;
}

.swiper {
    width: 100%;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

.swiperMain{
    height: 70%;
    margin-bottom: 25px;
}

.swiperMain .swiper-slide img {
    object-fit: cover;
}

.swiperThumbs{
    height: 20%;
}

.swiperThumbs .swiper-slide img {
    object-fit: cover;
}

.swiperThumbs-scrollbar {
    margin: 3vh auto;
    width: 90%;
    height: 5px;
}

.swiperThumbs-navigation {
    display: flex;
    justify-content: space-between;
}

.swiperThumbs-prevEl {
    align-self: center;
    color: black;
}

.swiperThumbs-nextEl {
    align-self: center;
    color: black;
}