.container {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-row-gap: 5rem;
    margin-top: 2rem;
}

.nameBar {
    position: absolute;
    width: 75%;
    top: -5.75em;
    left: 12.5%;
}